@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


html {
    width: auto;
    height: 100%;
    background: fixed url(/assets/img/patronreptil.png) repeat;
    background-size: 0.5%;

}


.bg-iguana 
{
    top: 10%;
    left: 0%;
    width: 100%; 
    height: 45.438em;
    background: fixed repeat url('/assets/img/1730bg.jpg');
    background-size: 100% 90%;

}


header
{
    display:inline-block;
    background: url(/assets/img/patronreptil.png) fixed repeat;
    font-size: xx-large;
    text-align: center;
    height: 0rem;  
    

}


h3 
{
    display:inline;
    font-family: 'Raleway', sans-serif;
    font: bold;
    color: rgb(85, 5, 5);
    font-size: xx-large;
    border-bottom: solid 0.4rem rgb(0, 0, 0, 30%);

}

header .titulo
{
    float:left;
    margin-left: 400%;
    margin-top: 1rem;

}

.galeria h3
{
    margin-left: 2em;
    margin-top: 0.5em;
}

img 
{
    float: right;
    width: 15em;
    height: auto;

    border: rgb(32, 1, 1) 0.5em solid;
    border-radius: 5px;
    outline: 0.3px black solid;
    margin-right: 7.5em;
    margin-top: 1em;
    opacity: 1;

}

img:hover
{
    transform: scale(1.5);
}



section 
{
    top: 800px;
    left: 0px;
    width: 1280px;
    height: 15.625rem;  
}


#camaleon {
    
    float:left;;
    width:15em;
    margin-left: 5rem;;

}


.bloque-txtimg 
{
    display: inline-block;
    outline: solid 10px #000000;
    width: 103.4%;
}

.bloque-txtimg p
{
    border: solid 0.2rem;
    border-radius: 0.5rem;
}

p {
    
    display: inline;
    font-size: large;
    background: fixed rgb(21, 19, 16);
    width:50%;
   
    margin: 10px;
    border-radius: 5px;
    border-color: #ffffff;
    float: left;
    color: white;
    margin-right: 1rem;
}

.bloque-txtimg
{
    display: inline-block;
    padding-left: 20px;    
}

.iconos
{
    display: inline-block;
    width: 105%;
    position: center;
    border: solid black 0.5rem ;
    margin-left: -8px;


    
}   

.iconos:hover
{
    background: green;
    opacity: 75%;

}

i
{
    width: 60%;
    height: auto;
}

h3:hover
{
    transform: scale(2);
}

.galeria
{
    display: inline-block;
    margin-top: 10%;
    height: 15%;
    border: solid black 0.5rem;
    width: 99%;
    padding-left: 0rem;
    padding-right: 0rem;
}



footer
{
    background-color: black;
    background-size: 10px;
    height: 3rem;
    border:rgb(32, 1, 1) solid 0.4rem;
    margin-bottom: -1%;
    margin-left: -0.6%;
    margin-top: 5%;
    text-align: center;
    opacity: 85%;
       
}

a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font:bold;
    text-align: center;
    font-size: medium;
    background-color: black;
    padding-top: -50%;
    
}

.bloque-txtimg:hover  
{
    background: blue;
    opacity: 90%;

}

.galeria:hover
{
    background: blue;

}

.caract-container p:hover
{
    background: orange;
}


section #foto
{
    height: 12em;  
    width: auto; 
}